services:
  web:
    container_name: angular-ngx-env-builder
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4200:80'
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:80/index.html']
      interval: 30s
      timeout: 3s
      retries: 3
